*{
    float:left; 
  }
  .first{
    width:200px;
    height:400px;
    background-color:red;
    border:1px solid black;
  }
  
  .second{
    width:150px;
    height:350px;
    background-color:yellow;
    position:absolute;
    margin:25px;
    border:1px solid black;
  }